<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Логин</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="container">
        <h1>Логин</h1>
        <p>Пожалуйста заполните форму для авторизации:</p>
        <form action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Логин"></p>
        </form>
        <p>У вас нет аккаунта? <a href="{% url 'register' %}">Регистрация</a></p>
    </div>
</body>
</html>
