{% extends 'base.html' %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}
Registration
{% endblock %}

{% block content %}
<div class="container">
    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        <p><input type="submit" value="Register"></p>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>  <!-- Кнопка для перехода в логин -->
</div>
{% endblock %}

