<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <h2>Регистрация</h2>
        <form method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
            <p><input type="submit" value="Зарегистрироваться"></p>
        </form>
        <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
    </div>
</body>
</html>
