{% extends 'base.html' %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/O-TR.css' %}">
<style>
    body {
        background-image: url("{% static 'media/icon/back.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{% endblock %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<div class="background">
    <h2>Welcome to my site</h2>

    <div class="button-wrapper">
        <button onclick="window.location='{% url 'login' %}'">Логин</button>
        <button onclick="window.location='{% url 'register' %}'">Регистрация</button>
    </div>
</div>
{% endblock %}