{% extends 'base.html' %}

{% block header %}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaflet Map</title>
    {% load static %}
    <!-- Подключение стилей Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'css/training_detail.css' %}">
{% endblock %}

{% block content %}
<h1>Training Detail</h1>
<div class="content">
    {% if training.route %}
    <!-- Контейнер для карты -->
    <div id="map" ></div>
    {% endif %}
    <div class="about">
        <ul>
        <p><strong>Activity Type:</strong> {{ training.activity_type }}</p>
        <p><strong>Distance:</strong> {{ training.distance }}</p>
        <p><strong>Time:</strong> {{ training.time }}</p>
        <p><strong>Rating:</strong> {{ training.rating }}</p>
        <p><strong>Route:</strong>
            {% if training.route %}
                <a href="{{ training.route.url }}">{{ training.route.name }}</a>
            {% else %}
                No GPX
            {% endif %}
        </p>
        <a href="{% url 'training_pdf' training.id %}" class="btn btn-primary">Export to PDF</a>
        </ul>
    </div>
</div>
{% if training.route %}
    <!-- Подключение скриптов Leaflet -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.4.0/gpx.min.js"></script>
    <!-- Скрипт инициализации карты -->
    <script>
        var map = L.map('map').setView([51.505, -0.09], 13); // Установка начальных координат и масштаба карты

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        new L.GPX("{{ training.route.url }}", {
            async: true,
            marker_options: {
                startIconUrl: '/media/icon/free.png',
                endIconUrl: '/media/icon/free.png',
                shadowUrl: '/media/icon/free.png'
            },
            polyline_options: {
                color: 'red',
                weight: 3,
                opacity: 0.75
            }
        }).on('loaded', function(e) {
        map.fitBounds(e.target.getBounds());}).addTo(map);
    </script>
{% endif %}
{% endblock %}
