{% extends 'base.html' %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/training_list.css' %}">
{% endblock %}

{% block title %}
Training List
{% endblock %}

{% block content %}
    <h2>Training List</h2>
    <ul>
        {% for training in trainings %}
            <li>
                <strong><a href="{% url 'training_detail' training.pk %}">{{ training.name }}</a></strong><br>
                <strong>Author</strong> <a href="{% url 'view_profile' training.author.username %}">{{ training.author.username }}</a><br>
                <strong>Activity Type:</strong> {{ training.get_activity_type_display }}<br>
                <strong>Route:</strong>
                {% if training.route %}
                    <a href="{{ training.route.url }}">{{ training.route.name }}</a>
                {% else %}
                    No GPX
                {% endif %}
                <br>
                <strong>Distance:</strong> {{ training.distance }} km<br>
                <strong>Time:</strong> {{ training.time }}<br>
                <strong>Rating:</strong> {{ training.rating }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
