/* Общие стили */
body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0px; /* Начальное положение слева */
    width: 40px;
    height: 100%;
    transition: width 0.3s ease; /* Анимация движения */
    text-align: center;
}

/* Стили для плавного открытия меню */
#header:hover {
    width: 200px; /* Новая ширина при наведении */
}

#header:hover .link-text {
    opacity: 1;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: inline-block; /* Устанавливаем изображения как инлайн-блоки */
    vertical-align: middle;
}

.link {
    color: #fff; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание ссылок */
    display: block; /* Размещаем ссылки каждую на новой строке */
    margin-bottom: 5px; /* Отступ между ссылками */
    font-size: 20px; /* Уменьшаем размер текста */
    transition: transform 0.2s ease;
    display: inline-block; /* Устанавливаем ссылку как инлайн-блок */
    white-space: nowrap; /* Запрещаем перенос текста на новую строку */
}

.link:hover {
}

.link-text{
    display: inline-block; /* Устанавливаем ссылку как инлайн-блок */
    white-space: nowrap; /* Запрещаем перенос текста на новую строку */
    opacity: 0; /* Начальная прозрачность */
    transition: opacity 0.3s ease; /* Анимация изменения прозрачности */
}

.author {
    color: #fff;
    position: absolute; /* Установка позиции как абсолютной */
    text-decoration: none; /* Убираем подчеркивание ссылок */
    bottom: 0; /* Размещение текста внизу */
    left: 50%; /* Устанавливаем начальное положение слева */
    transform: translateX(-50%); /* Сдвигаем текст на 50% ширины div влево, чтобы он был по центру */
    margin-bottom: 20px; /* Отступ снизу */
    font-size: 15px; /* Размер текста */
    transition: font-size 0.2s ease;
}

.author:hover {
     font-size: 13px;
}

#content {
    margin: 0px; /* Учитываем ширину меню */

}

a:hover {
    color:red;
}

