/* Стили для оранжевого контейнера */
ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
    margin: 0 auto; /* Центрируем контейнер */
    width: 800px; /* Ширина контейнера */
    background-color: orange; /* Цвет фона */
    border-radius: 10px; /* Скругляем углы */
    padding-left: 20px; /* Внутренние отступы */
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom:20px;
}


h3 {
    text-align: center;
    font-size: 20px;
}

/* Стили для каждой тренировки */
li {
    text-align: center; /* Центрируем текст */
    margin-bottom: 20px; /* Отступ между тренировками */
    padding: 5px; /* Внутренние отступы */
    border: 2px solid #fff; /* Граница */
    border-radius: 5px; /* Скругляем углы */
}

/* Стили для ссылок */
a {
    text-decoration: none; /* Убираем подчеркивание */
    color: blue;
}

a:hover {
    color:red;
}

h2{
    text-align: center; /* Центрируем текст */
    font-size: 25px;
}


h3 {
    text-align: center; /* Выравниваем заголовок по центру */
    margin: 15px;
}

.static {
    display: inline-block; /* Размещаем блоки в одной строке */
    width: 30%; /* Ширина блока */
    margin-bottom: 10px; /* Внешние отступы */
    padding: 10px; /* Внутренние отступы */
    border: 2px solid black; /* Граница */
    border-radius: 5px;
    border-color: white;
}

h5 {
    margin: 0; /* Убираем внешние отступы заголовков */
    text-align: center;
    font-weight: bold; /* Жирный текст для заголовка */
    font-size: 17px;
}

h4 {
    margin: 0;
    text-align: center;
}