/* CSS оранжевого цвета для формы входа */

.container {
    background-color: orange; /* Цвет контейнера */
    padding: 20px; /* Отступы внутри контейнера */
    border-radius: 10px; /* Скругление углов контейнера */
    width: 0px; /* Ширина контейнера */
    margin: 0 auto; /* Расположение по центру */
    text-align: center; /* Выравнивание текста по центру */
}

h2 {
    color: black; /* Цвет заголовка */
}

p {
    color: black; /* Цвет текста */
}

input[type="submit"] {
    background-color: blue; /* Цвет кнопки */
    color: white; /* Цвет текста на кнопке */
    border: none; /* Убираем границу кнопки */
    padding: 10px 20px; /* Подобрать размер отступов по вашему вкусу */
    border-radius: 5px; /* Добавляем скругленные углы кнопке */
}

input[type="submit"]:hover {
    background-color: darkblue; /* Цвет кнопки при наведении курсора */
}

