h1 {
    text-align: center;
}

/* Стили для контейнера карты */
.content {
    display: flex; /* Располагаем дочерние элементы в строку */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    text-align: center; /* Выравниваем текст внутри элементов по центру */
}

#map {
    width: 400px;
    height: 400px; /* Высота карты */
    border: 2px solid orange; /* Граница */
    border-radius: 5px; /* Скругление углов */
}

.about {
    margin-left: 20px; /* Отступ слева */
}

ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
    margin: 0 auto; /* Центрируем контейнер */
    width: 500px; /* Ширина контейнера */
    background-color: orange; /* Цвет фона */
    border-radius: 10px; /* Скругляем углы */
    padding-left: 20px; /* Внутренние отступы */
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px; /* Отступ сверху */
}
